
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		
		<title>Highly securised page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
			rel="stylesheet"
			id="bootstrap-css"
		/>
		<style type="text/css"></style>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span12">
					<form class="form-horizontal" method="POST">
						<fieldset>
							<div id="legend">
								<legend class="">Add Users</legend>
							</div>
							<div class="control-group">
								<!-- Username -->
								<label class="control-label" for="username">Username</label>
								<div class="controls">
									<input
										type="text"
										id="username"
										name="username"
										placeholder=""
										class="input-xlarge"
									/>
								</div>
							</div>
							<div class="control-group">
								<!-- Password-->
								<label class="control-label" for="password">Password</label>
								<div class="controls">
									<input
										type="password"
										id="password"
										name="password"
										placeholder=""
										class="input-xlarge"
									/>
								</div>
							</div>
						
							<div class="control-group">
								<!-- Button -->
								<div class="controls">
									<button class="btn btn-success">Add user</button>
								</div>

								
								
							</div>
						</fieldset>
					</form>
					
					
					<form class="form-horizontal" action ="/logout">
						<fieldset>
							<div class="control-group">
								<!-- Button -->
								<div class="controls">
									<button class="btn btn-danger">logout</button>
								</div>

								
								
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
